<!DOCTYPE html>
<html lang="en">

{{template "header"}}


<body>
    <header>
        <h1>📚 Book Search</h1>
        <br />
        <br />
        <br />
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/add-booking">Add Book</a></li>
            </ul>
        </nav>
    </header>

    <section id="search">

        <form id="searchForm">
            <input type="search" name="search" id="bookSearch" placeholder="search for a book and click search" value="{{ .Search }}" />
            <br />
            <br />
            <button type="submit">Search</button>
        </form>

    </section>

    <br />
    <br />
    <br />
    <br />


    <section id="books">
        <div class="books-grid">
            {{range $index, $book := .Books}}
             <article>
                <img src="{{$book.ThumbnailUrl}}" alt="split tooth a book">
                <br />
                <br />
                <h3>{{$book.Title}}</h3>
                <br />
                <p>From the internationally acclaimed Inuit throat singer who has dazzled and enthralled the world with
                    music it had never heard before, a fierce, tender, heartbreaking story unlike anything you've ever
                    read.</p>
            </article> 
            {{end}}



        </div>
    </section>
</body>

</html>